<div class="Item hr">
    <div class="current">编辑城市权限</div>
</div>
<form action="{:U('Rolecity/update')}" method="post">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
        <tr>
            <th width="100">角色名字</th>
            <td>{$role['name']}</td>
        </tr>
        <tr>
            <th width="100">备注:</th>
            <td>{$role['description']}</td>
        </tr>
        <tr>
            <th width="100">城市:</th>
            <td> 
                <volist name="all_city" id="v">
                  <input type="checkbox"  name="city[]" value="{$key}" 
                    <?php 

                        if(in_array($key, $cities_id)) {
                            echo 'checked';
                        } 
                    ?>
                    >{$v}&nbsp&nbsp&nbsp
     
                </volist>
            </td>
        </tr>
        <tr>
            <th width="100"></th>
            <td><button class="btn submit">更新</button></td>
        </tr>
        <input type="hidden" value="{$role['id']}" name='id'>
    </table>
</form>