<div class="Item hr">
    <span class="fr">现有栏目<b>{$rows_count}</b>个</span>
    <div class="current">栏目列表</div>
</div>
<form>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
        <thead>
            <tr>
                <td>栏目结构</td>
                <!-- <td>栏目名称</td> -->
                <td>栏目等级</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <volist name="cities" id="city">
            <tr align="center">
                <td align="left">{$city['fullname']}</td>
                <!-- <td>{$city['name']}</td> -->
                <td>{$city['level']}</td>
                <!-- <td><if condition="$city['status'] eq 1">已启用<else/>已禁用</if></td> -->
                <td>[ <a href="{:U('City/add', array('id' => $city['id'],'name' => $city['name']))}">增加子栏目</a> ] [ <a href="{:U('City/edit', array('id' => $city['id']))}">编辑</a> ] [ <a  href="javascript:void(0);" value="{:U('City/delete', array('id' => $city['id']))}"  class="del">删除</a> ]</td>
            </tr>
            </volist>
        </tbody>
    </table>
</form>

<script type="text/javascript">
$(function(){
    $(".del").click(function(){
        var del_link = $(this).attr("value");
        popup.confirm('你真的打算删除此节点及其子节点吗?','温馨提示',function(action) {
            if(action == 'ok'){
                $.getJSON(del_link, function(json){
                    if (json.status) {
                        popup.success(json.info);
                        setTimeout(function(){
                            popup.close("asyncbox_success");
                        },2000);
                    } else {
                        popup.error(json.info);
                        setTimeout(function(){
                            popup.close("asyncbox_error");
                        },2000);
                    }

                    setTimeout(function(){
                        top.window.location.reload();
                    },1000);
                });
            }
        });

        return false;
    });
});
</script>
