<div class="Item hr">
    <div class="current">添加子栏目</div>
</div>
<form>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
        <tr>
            <th width="100">上级栏目:</th>
            <td>{$f_name}</td>
        </tr>
        <tr>
            <th width="100">栏目名称:</th>
            <td><input id="city_name" type="text" class="input" size="20" name="name" /> <a href="javascript:void(0)" id="check_city_name">检测是否可用</a></td>
        </tr>
         <tr>
            <th width="100">Slug:</th>
            <td><input id="city_slug" type="text" class="input" size="20" name="slug" />    一般为城市的拼音</td>
        </tr>
        <tr>
            <th width="100"></th>
            <td><button class="btn submit">提交</button></td>
        </tr>
        <input type="hidden" value="{$fid}">
    </table>
</form>

<script>
$(function(){
    $('.submit').click(function() {
        if ("" == $.trim($("#city_name").val())) {
            popup.error("栏目名称不能为空");
            return false;
        } else if ("" == $.trim($("#city_slug").val())) {
            popup.errpr("slug不能为空");
            return false;
        }
        var url  = "{:U('city/create', array('fid' => $fid))}";
        commonAjaxSubmit(url);
        return false;
    });
});
</script>