<div class="Item hr">
    <div class="current">添加团购</div>
</div>
<form>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
        <tr>
            <th width-"100">团购城市:</th>
            <td>
                <select type="select" id="tuangou_city" name="tuangou[city]">
                    <option value=''>请选择</option>
                    <volist name="all_city" id="v">
                            <option value="{$key}">{$v}</option>
                    </volist>
             </select>
            </td>
        </tr>
        <tr>
            <th width="100">团购类别:</th>
            <td>                        
                <?php
                  $types = D('Tuangou', 'Service')->getType();
                ?>
                <volist name="types" id="v">
                
                  <input type="radio"  name="tuangou[type]" value="{$v}">{$v}
     
                </volist>
            </td>
        </tr>
        <tr>
            <th width="100">标题:</th>
            <td><input id="tuangou_title" type="text" class="input" size="50" name="tuangou[title]" /> <!-- <a href="javascript:void(0)" id="check_title_name">检测是否可用</a> --></td>
        </tr>
        <tr>
            <th width="100">长标题:</th>
            <td><input id="tuangou_largetitle" type="text" class="input" size="50" name="tuangou[largetitle]" /></td>
        </tr>
        <tr>
            <th width="100">团购时间:</th>
            <td><input id="tuangou_time" type="text" class="input" size="50" name="tuangou[tuan_time]" />（例如:2015年6.1号早上10点）</td>
        </tr>
         <tr>
            <th width="100">团购地点:</th>
            <td><input id="tuangou_address" type="text" class="input" size="50" name="tuangou[tuan_address]" />（例如:杭州之江饭店）</td>
        </tr>
        <tr>
            <th width="100">经度:</th>
            <td><input id="" type="text" class="input" size="50" name="tuangou[lng]" /></td>
        </tr>
        <tr>
            <th width="100">纬度:</th>
            <td><input id="" type="text" class="input" size="50" name="tuangou[lat]" /></td>
        </tr>
         <tr>
            <th width="100">大图(请上传图片):</th>
            <td><textarea id="TextArea4" class="ckeditor"  style=""  name="tuangou[largeimg]"></textarea></td>
        </tr>
        <tr>
            <th width="100">品牌:</th>
            <td><textarea id="TextArea1" class="ckeditor"  style=""  name="data[details]"></textarea></td>
        </tr>
         <tr>
            <th width="100">特价:</th>
            <td><textarea id="TextArea2" class="ckeditor"  style=""  name="data[promotion]"></textarea></td>
        </tr>
         <tr>
            <th width="100">好礼:</th>
            <td><textarea id="TextArea3" class="ckeditor"  style=""  name="data[present]"></textarea></td>
        </tr>
         <tr>
            <th>个性短信</th>
            <td><textarea id="tuangou_message" class="input" style="height: 80px; width: 50%;" name="data[message]" placeholder=""></textarea></td>
        </tr>
        <tr>
            <th>团购网址</th>
            <td><input id="tuangou_tgurl" type="text" class="input" size="50" name="tuangou[tgurl]" /> <!-- <a href="javascript:void(0)" id="check_tgurl_name">检测是否可用</a> -->(例如:http://www.demo.com or http://demo.com)</td>
        </tr>
        <tr>
            <th>PC活动ID</th>
            <td><input id="tuangou_pc_id" type="text" class="input" size="50" name="data[pc_id]" /> <!-- <a href="javascript:void(0)" id="check_pc_id_name">检测是否可用</a> -->(仅包含数字.)</td>
        </tr>
    </table>
</form>

<div class="commonBtnArea" >
    <button class="btn submit">提交</button>
</div>
<js file="__PUBLIC__/ckeditor/ckeditor.js" />
<include file="Tuangou/javascript" />
<!-- <js file='__ROOT__/Public/javascripts/admin/jquery-1.7.2.min.js'/>
<link rel="stylesheet" href="__ROOT__/Public/uploadify/uploadify.css">
<js file='__ROOT__/Public/uploadify/jquery.uploadify.min.js'/> -->

<script type="text/javascript">
CKEDITOR.replace( 'TextArea4', {
                filebrowserImageUploadUrl  : "{:U('Tuangou/upload')}"
            });
CKEDITOR.replace( 'TextArea2', {
                filebrowserImageUploadUrl  : "{:U('Tuangou/upload')}"
            });

CKEDITOR.replace( 'TextArea1', {
                filebrowserImageUploadUrl  : "{:U('Tuangou/upload')}"
            });

CKEDITOR.replace( 'TextArea3', {
                filebrowserImageUploadUrl  : "{:U('Tuangou/upload')}"
            });
$(function(){
    submitForm("create");
});
</script>
