<div class="Item hr">

    <span class="fr">已报名<b>{$count}</b>个</span>

    <div class="current">报名列表</div>

</div>

<form>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
        <thead>
            <tr>
                <td width="90"><label><input name="" class="chooseAll" type="checkbox"/> 全选</label> <label><input name="" class="unsetAll" type="checkbox"/> 反选</label></td>
                <td>ID</td>
                <td>姓名</td>
                <td>电话</td>
                <td>ip</td>
                <td>报名时间</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <volist name="enroll" id="v">
            <tr align="center">
                <td><input type="checkbox" name="id" value="{$v['id']}"/></td>
                <td>{$v.id}</td>
                <td>{$v.name}</td>
                <td>{$v.phone}</td>
                <td>{$v.ip}</td>
                <td>{$v.enroll_time}</td>
                
                <td>[ <a href="javascript:void(0);" value="{:U('Tuangou/delete_enroll', array('id' => $v['id']))}"  class="del">删除</a> ]</td>
            </tr>
            </volist>
        </tbody>
    </table>
</form>
<div class="commonBtnArea" >
    <a class="del_list"><button >批量刪除</button></a>
</div>
<div class="page">
    {$page}
</div>

<script type="text/javascript">
$(function(){
    clickCheckbox();
    $(".del").click(function(){
        var del_link = $(this).attr("value");
        popup.confirm('你真的打算删除此信息吗?','温馨提示',function(action) {
            if(action == 'ok'){
                $.getJSON(del_link, function(json){
                    if (json.status) {
                        popup.success(json.info);
                        setTimeout(function(){
                            popup.close("asyncbox_success");
                        },2000);
                    } else {
                        popup.error(json.info);
                        setTimeout(function(){
                            popup.close("asyncbox_error");
                        },2000);
                    }

                    setTimeout(function(){
                        top.window.location.reload();
                    },1000);
                });
            }
        });

        return false;
    });

    $('.del_list').click(function() {
        var id = new Array();
        $('input[name="id"]:checked').each(function(i) {
            id[i] = $(this).val();
        });

        var del_link="{:U('Tuangou/delete_enroll')}?id="+id;
        popup.confirm('你真的打算删除这些信息吗?','溫馨提示',function(action) {
            if(action == 'ok') {
                $.getJSON(del_link, function(json){
                    if(json.status) {
                        popup.success(json.info);
                        setTimeout(function(){
                            popup.close("asyncbox_success");
                        },2000);
                    } else {
                        popup.error(json.info);
                        setTimeout(function() {
                            popup.close("asyncbox_error");
                        },2000);
                    }

                    setTimeout(function() {
                        top.window.location.reload();
                    },100);
                });
            }
        });

        return false;
    });
});
</script>